---
layout: default
title: Work
---


<ul class="work-index">
    {% for page in site.work %} {% if page.title %} {% unless page.title == "Work" %}

    <li class="work-index__entry">
      <a href="{{ page.url | prepend: site.baseurl }}"><img class="work-index__image" src="{{ page.feature-image}}" /></a>
      <div class="work-index__content">
        <h3 class="work-index__header"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h3>
        <ul class="work-index__link-list">
          <li class="work-index__link-list-item"><a class="work-index__link" href="{{ page.url | prepend: site.baseurl }}">About this project</a></li>
          <li class="work-index__link-list-item"><a  class="work-index__link" href=" {{page.live}}">View live</a></li>
          <li class="work-index__link-list-item"><a class="work-index__link" href="{{page.github}}">View on Github</a></li>
        </ul>
      </div>
    </li>

    {% endunless %} {% endif %} {% endfor %}

</ul>
