---
layout: default
title: Work
---


<ul class="work-index">
    {% for page in site.work %} {% if page.title %} {% unless page.title == "Work" %}

    <li class="work-index__entry">
      <a href="{{ page.url | prepend: site.baseurl }}"><img class="work-index__image" src="{{ page.feature-image}}" /></a>
      <h3>{{ page.title }}</h3>
      <ul class="work-index__link-list">
        <li class="work-index__link"><a href="{{ page.url | prepend: site.baseurl }}">More about this project</a></li>
        <li class="work-index__link"><a href=" {{page.live}}">View live</a></li>
        <li class="work-index__link"><a href="{{page.github}}">View on Github</a></li>
      </ul>
    </li>

    {% endunless %} {% endif %} {% endfor %}

</ul>
