<header class="header">
	<nav>
		<div class="site-title-container">
			<h1 class="site-title"><a href="{{ site.baseurl }}">JESSA<br />WRIGHT</a></h1>
		</div>
		<ul class="nav__list">
			<li class="nav__item"><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
			<li class="nav__item"><a href="{{ "/work" | prepend: site.baseurl }}">Work</a></li>
			<li class="nav__item"><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
		</ul>
	</nav>
	<h2 class="page-title">{{ page.title }}</h2>


</header>
