@font-face {
    font-family: 'museo_slab500';
    src: url('../static_files/fonts/museo_slab_500_2-webfont.woff2') format('woff2'), url('../static_files/fonts/museo_slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab500_italic';
    src: url('../static_files/fonts/museo_slab_500italic-webfont.woff2') format('woff2'), url('../static_files/fonts/museo_slab_500italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo300';
    src: url('../static_files/fonts/museo300-regular-webfont.woff2') format('woff2'), url('../static_files/fonts/museo300-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo500';
    src: url('../static_files/fonts/museo500-regular-webfont.woff2') format('woff2'), url('../static_files/fonts/museo500-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('../static_files/fonts/museo700-regular-webfont.woff2') format('woff2'), url('../static_files/fonts/museo700-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans500_italic';
    src: url('../static_files/fonts/museosans_500_italic-webfont.woff2') format('woff2'), url('../static_files/fonts/museosans_500_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans500';
    src: url('../static_files/fonts/museosans_500-webfont.woff2') format('woff2'), url('../static_files/fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
