$text-color: #000000;
$focus-highlight: #DDDDDD;
$background-color: #F9F9F9;
$accent-color: #F98203;
$accent-shade: #AAAAAA;
$border: 0.2rem solid $text-color;

* {
    box-sizing: border-box;
}

html {
    line-height: 1.25;
    font-size: 100%;
    font-family: 'museo_sans500';
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 1rem;
    border: 0;
    vertical-align: baseline;
    background-color: $accent-color;
}

h1 {
    font-size: 3rem;
    line-height: 1.05;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: bottom;
    background-color: $background-color;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: $background-color;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: $background-color;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.22222222;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: $background-color;
}

a,
abbr,
address,
b,
blockquote,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
figcaption,
footer,
h5,
h6,
header,
i,
ins,
kbd,
label,
legend,
li,
main,
mark,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strong,
time,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 1em;
    background-color: $background-color;
}

p {
    margin-bottom: 0.5rem;
}

article,
aside,
audio,
canvas,
div,
embed,
fieldset,
figure,
form,
hgroup,
iframe,
img,
menu,
nav,
object,
output,
ruby,
section,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: $background-color;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
    background-color: $background-color;
}

menu,
ol,
ul {
    background-color: $background-color;
}

blockquote,
q {
    quotes: none;
    background-color: $background-color;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: $background-color;
}

:active,
:focus,
:focus:hover,
:hover {
    outline: none;
}

a:active,
a:focus,
a:hover,
a:hover:focus {
    outline-width: 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: $text-color;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

.container--site {
    width: 100%;
    max-width: 80rem;
    background-color: $accent-color;
    margin: 0 auto;
    text-align: center;
}

.container--page {
    border: $border;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}

main {
    text-align: left;
}

img {
    background-color: transparent;
}
@media screen and (max-width: 48rem) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.125rem;
    }
}
@media screen and (max-width: 34rem) {
    body {
        font-size: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.625rem;
    }

    h3 {
        font-size: 1.375rem;
    }

    .container--page {
        padding: 0.5rem;
    }
}
