.header {
    margin: 0 0 1rem;
    background-color: transparent;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    background-color: transparent;
    align-items: flex-start;
}

.nav__list {
    flex-grow: 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: $border;
    background-color: $background-color;
}

.nav__item {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

.nav__item:active,
.nav__item:focus,
.nav__item:hover,
.nav__item:hover:focus {
    background-color: $focus-highlight;
}

.page-title {
    border: $border;
    bottom: 0;
    padding: 0.25rem 0 0.25rem 2rem;
    text-align: left;
}

.site-title-container {
    border: $border;
    margin: 0 0 0 1rem;
    display: inline-block;
    flex-grow: 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-title {
    padding: 0.75rem .75rem 1rem .75rem;
    font-family: 'museo_slab500';
    text-align: center;
    background-color: transparent;

}

.site-title-container:active,
.site-title-container:focus,
.site-title-container:hover,
.site-title-container:hover:focus {
    background-color: $focus-highlight;
}
@media screen and (max-width: 48rem) {
    .nav__item {
        font-size: 1.375rem;
    }
}
@media screen and (max-width: 34rem) {
    .nav__list {
        flex-direction: column;
        justify-content: space-between;
        border: none;
        background-color: transparent;
        align-items: flex-start;
    }

    .nav__item {
        border: $border;
        margin: 0.5rem 0 0;
font-size: 1.125rem;
    }

    .nav__item:first-child {
        margin: 0;
    }
}
