.index-main {
  background-color: $accent-color;
  border: none;
}

.index-title {
  font-family: 'museo_slab500';
  text-align: center;
  margin-top: 10vh;
  background-color: $accent-color;

  }

.index-title__title {
  font-size: 4em;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border: $border;
  width: min-content;
}

.index-title__subtitle {
  margin: 0 auto 1.25rem auto;
  width: fit-content;
  border: $border;
  padding: .75rem;
}

.index-menu {
  text-align: center;
  background-color: $accent-color;
  }

.index-menu__item {
  display: inline-block;
  border: $border;
  padding: .5rem;
  margin: .5rem;
  font-size: 1.5em;
}

.index-menu__item:focus, .index-menu__item:active, .index-menu__item:hover, .index-menu__item:hover:focus {
  background-color: $focus-highlight;
}
