$text-color: #000000;
$focus-highlight: #DDDDDD;

* {
  box-sizing: border-box;
}

html {
    line-height: 1;
    font-size: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
h1 {
    font-size: 3em;
    line-height: 1.05;
    margin: 0;
    padding: .5em 0;
    border: 0;
    vertical-align: bottom;
}
h2 {
    font-size: 2.25em;
    line-height: 1.25;
    margin: 0;
    padding: .5em 0;
    border: 0;
    vertical-align: baseline;
}
h3 {
    font-size: 1.75em;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
h4 {
    font-size: 1.125em;
    line-height: 1.22222222;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
h5, h6, blockquote, span, pre, a, abbr, address, cite, code, del, dfn, em, header, footer, ins, kbd, q, s, samp, small, strong, var, b, u, i, dl, dt, dd, ol, ul, label, legend, caption, details, figcaption, mark, main, p, time, li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 1em;
}
div, object, iframe, img, sub, sup, fieldset, form, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, hgroup, menu, nav, output, ruby, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:focus {
    /* remember to define focus styles! */
    outline: none;
    /* this is to help you remember to do that! */
    background-color: orange;
}
a:active, a:hover {
    outline-width: 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: $text-color;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

a img, :link img, :visited img {
    border: none
}

/* Nav */
.nav {
  display: inline-flex;
  justify-content: flex-end;

  width: 100%;
  align-items: flex-start;
  padding: 1rem;
}
.nav-list, .nav-list__item, .nav-title {
  display: inline-block;
}

.nav-list {
  border: 1px solid black;
}

.nav-list__item:focus, .nav-list__item:hover, .nav-list__item:active {
  background-color: $focus-highlight;
}
.nav-list__item {
  padding: .25rem .5rem;
  font-variant: small-caps;
  :first-child {
    padding: .25rem .5rem .25rem 1rem;
  }
  :last-child {
    padding: .25rem 1rem .25rem .5rem;
  }

}

.nav-title {
  border: 1px solid black;
  margin: 0 0 0 1rem;
  :focus, :active, :hover {
    background-color: $focus-highlight;

  }
}
.nav-title__text {
  padding: .25rem;
  font-variant: small-caps;
}
