.work__content {
  max-width: 60rem;
  margin: 1rem auto;
}

.work__feature-image {
  max-width: 100%;
  max-height: 75vh;
  margin: 0 auto;
  display: block;
  border: $border;
  border-radius: 2%;
}

.work__iphone-image {
  max-height: 50vh;
  max-width: 40%;
  display: block;
  float: right;
  padding: .75rem;
}

.work__heading {
  margin: 1.5rem 0 0 0;
}

.work__link-list {
  list-style: none;
  text-align: center;
}

.work__link {
  display: inline-block;
  padding: .25em .5em;
  border: $border;
  margin: 0 .25rem;
  font-size: 1.125rem;
}

.work__link:hover,
.work__link:focus,
.work__link:active,
.work__link:hover:focus {
  background-color: $focus-highlight;
}

.work__text {
  margin: .5rem 0 0 0;
}

.work__list {
  margin: .5rem 0 0 0;
  list-style: outside;
  padding: 0 0 0 1.5em;
}

.work__list-item {
  margin: 0 0 .3em 0;
  text-indent: 0;
  padding-left: 0;

}
@media screen and (max-width: 48rem) {
  .work__link {
    font-size: 1rem;
  }
}
