.work-index{
  list-style: none;
}
.work-index__entry {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 3px dotted $text-color;
}

.work-index__image {
  max-width: 60%;
  max-height: 75vh;
  display: inline-block;
  margin: 0 1rem 0 0;
  border: 3px solid $text-color;
  border-radius: 1%;
  background-color: $text-color;
}

.work-index__content {
  display: inline-block;
  vertical-align: top;
}

.work-index__header {
  margin: 0 0 1rem 0;
}

.work-index__link-list {
  list-style: none;
}

.work-index__link-list-item {
  display: block;
  margin: 0 0 .5rem 0;
  font-size: 1.25rem;
  padding: .5rem;
}

.work-index__link{
  border: 3px solid $text-color;
  padding: .5rem;
  margin: 0 0 .5rem 0;
}
