<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="container--site">
    {% include header.html %}
    <div class="container--page">
      <main>
        {% if page.feature-image %}
          <img class="work__feature-image" src="{{site.baseurl}}/{{page.feature-image}}" />
        {% endif %}
        <div class="work__content">
          <ul class="work__link-list">
            <li class="work__link"><a   href=" {{page.live}}"><i class="fa fa-link" aria-hidden="true"></i>Live</a></li>
            <li class="work__link"><a  href="{{page.github}}"><i class="fa fa-github" aria-hidden="true"></i>Github</a></li>
          </ul>
          {{ content }}
        </div>
      </main>
    </div>
  </div>
  {% include footer.html %}
  <script src="https://use.fontawesome.com/7287af2423.js"></script>
</body>
</html>
